.o- {
	&header {
		/**/
		position: sticky;
		top: 0;
		z-index: var(--header-zIndex);
	}
	&main {
		/**/
		width: 100%;
		height: 100%;
		padding-top: 1rem;
	}
	&footer {
		/**/
	}
	&aside {
		/**/
	}
	&article {
		/**/
	}
	&section {
		/**/
	}
	&banner {
		/**/
	}
}
